.cover__overlay{
    background: rgba(0, 0, 0, 0.3);
    align-self: stretch;
    justify-self: stretch;
    text-decoration: none;
    max-width: 1184px;
    max-height: 740px;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }

    .cover__overlay:hover{
        background: rgba(0, 0, 0, 0.8);
    }

    @media screen and (max-width: 770px){
        .cover__overlay{
            max-width: 770px;
            min-height: 480px;
                }
        
    }

    @media screen and (max-width: 380px){
        .cover__overlay{
            margin: 66px 0 0 0; 
            max-width: 380px;
            min-height: 200px;
                }
        
    }